{% extends "AcmeFindMartialBundle::layout.html.twig" %}

{% block title "FindMartial" %}

{% block content %}
    <h1>{{ 'club.register'|trans({}, 'FindMartialBundle') }}</h1>

    <form action="{{ path('reg_user',{'type': 'club'}) }}" method="post" {{ form_enctype(form) }}>

		{{ form_row (form.username) }}
		{{ form_row (form.email) }}
		{{ form_row (form.plainPassword) }}


        {{ form_widget(form.club) }}

		{{ form_rest(form) }}

        <p>
            <button type="submit">{{ 'field.create'|trans({}, 'FindMartialBundle') }}</button>
        </p>
    </form>


{% endblock %}
