{% extends "AcmeFindMartialBundle::layout.html.twig" %}

{% block title "FindMartial" %}

{% block content %}
    <h1>AddServ creation</h1>

    <form action="{{ path('addserv_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">{{ 'field.create'|trans({}, 'FindMartialBundle') }}</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('addserv') }}">
            {{ 'field.backtolist'|trans({}, 'FindMartialBundle') }}
        </a>
    </li>
</ul>
{% endblock %}
