{% extends "AcmeFindMartialBundle::layout.html.twig" %}

{% block title "FindMartial" %}

{% block content %}
    <h1>Client</h1>
    <div class="fm_master_show">
        <p>ID: {{ entity.id }}</p>
        <p>{{ 'client.name'|trans({}, 'FindMartialBundle') }}: {{ entity.name }}</p>
        <p>{{ 'field.inn'|trans({}, 'FindMartialBundle') }}: {{ entity.inn }}</p>
        <p>{{ 'field.website'|trans({}, 'FindMartialBundle') }}: {{ entity.website }}</p>
        <p>{{ 'field.mail'|trans({}, 'FindMartialBundle') }}: {{ entity.mail }}</p>
        <p>{{ 'field.phone'|trans({}, 'FindMartialBundle') }}: {{ entity.phone }}</p>
        <p>{{ 'field.status'|trans({}, 'FindMartialBundle') }}: {{ entity.status }}</p>
        <p>{{ 'field.money'|trans({}, 'FindMartialBundle') }}: {{ entity.money }}</p>
        <p>{{ 'field.social'|trans({}, 'FindMartialBundle') }}: {{ entity.social }}</p>
        <p>{{ 'field.logo'|trans({}, 'FindMartialBundle') }}: {{ entity.logo }}</p>
        <p>{{ 'field.estimatevalue'|trans({}, 'FindMartialBundle') }}: {{ entity.estimatevalue }}</p>
        <p>{{ 'field.estimatenumber'|trans({}, 'FindMartialBundle') }}: {{ entity.estimatenumber }}</p>
        <p>{{ 'field.newson'|trans({}, 'FindMartialBundle') }}: {{ entity.newson }}</p>
        <p>{{ 'field.ischecked'|trans({}, 'FindMartialBundle') }}: {{ entity.ischecked }}</p>
    </div>

    <ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            {{ 'field.backtolist'|trans({}, 'FindMartialBundle') }}
        </a>
    </li>
    <li>
        <a href="{{ path('client_edit', { 'id': entity.id }) }}">
            {{ 'field.edit'|trans({}, 'FindMartialBundle') }}
        </a>
    </li>
    <li>
        <form action="{{ path('client_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">{{ 'field.delete'|trans({}, 'FindMartialBundle') }}</button>
        </form>
    </li>
</ul>
{% endblock %}
