{% extends "AcmeFindMartialBundle::layout.html.twig" %}

{% block title "FindMartial" %}

{% block content %}
    <h1>{{ 'master.register'|trans({}, 'FindMartialBundle') }}</h1>

    <form action="{{ path('reg_master_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">{{ 'field.create'|trans({}, 'FindMartialBundle') }}</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('master') }}">
                {{ 'field.backtolist'|trans({}, 'FindMartialBundle') }}
            </a>
        </li>
    </ul>
{% endblock %}
