{% extends "AcmeFindMartialBundle::layout.html.twig" %}

{% block title "FindMartial" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/acmefindmartial/css/jquery-ui-1.10.3.custom.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        '@AcmeFindMartialBundle/Resources/public/js/jquery-ui-1.10.3.custom.min.js'
        '@AcmeFindMartialBundle/Resources/public/js/club_new.js'
     %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <h1>{{ 'field.headers.update_club'|trans({}, 'FindMartialBundle') }}</h1>

    {% include 'AcmeFindMartialBundle:Club:form.html.twig' %}

    <ul class="record_actions">
        <li>
            <a href="{{ path('club') }}">
                {{ 'field.backtolist'|trans({}, 'FindMartialBundle') }}
            </a>
        </li>
    </ul>
{% endblock %}
