{% form_theme form _self %}


{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    {{ block('form_widget') }}
{% endspaceless %}
{% endblock collection_widget %}

{% block _acme_findmartialbundle_mastertype_masterArts_1_art_widget %}
    <div class="text_widget">
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}


<script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

<form class="ajax-form_" action="{{ entity.id  ? path('master_update', { 'id': entity.id }) : path('master_create') }}" method="post" {{ form_enctype(form) }}>

  {{ form_errors(form) }}

  {{ form_row (form.name) }}
  {{ form_row (form.family) }}
  {{ form_row (form.patronym) }}
  {{ form_row (form.hightlights) }}
  {{ form_row (form.description) }}
  {{ form_row (form.sex) }}
  {{ form_row (form.photo) }}
  {{ form_row (form.slave) }}
  {{ form_row (form.visible) }}
  {{ form_row (form.experience_full) }}
  {{ form_row (form.training_exp_full) }}
   

  <a href="#" id="add-another-art">Добавить БИ</a>

  {% macro artRow(masterart) %}
    <li>{{ form_widget(masterart.art, {'widget': 'integer_widget'}) }}{{ form_widget(masterart.expirience) }}</li>
  {% endmacro %}

  <ul id="arts-fields-list" data-prototype="{{ _self.artRow(form.masterArts.vars.prototype) | e }}">
    {% for artField in form.masterArts %}
        <li>
            {{ form_errors(artField) }}
            {{ form_widget(artField) }}
            {% for key, art in form.masterArts %}
               {{ _self.artRow(art) }}
            {% endfor %}
        </li>
    {% endfor %}
  </ul>

  {{ form_rest(form) }}

  <div><button type="submit">Сохранить</button><div id="container"></div></div>

</form>

  
<script>
    var artsList = $('#acme_findmartialbundle_mastertype_arts');
    var artsForm = $('#arts-fields-list');

    $(document).ready(function() {
      artsList.hide();
      $('form').on('click', '#add-another-art', function() {
            artsList.show();
            return false; 
      });
      artsList.append(
            $('<a>', {
              href:'#', 
              id:'save_arts_list', 
              text: "{{ 'field.save'|trans({}, 'FindMartialBundle') }}",
              onclick: 'setArts(); artsList.hide(); return false;'
            }
      ));
      artsList.append(
            $('<a>', {
              href:'#', 
              id:'close_arts_list', 
              text: "{{ 'field.close'|trans({}, 'FindMartialBundle') }}",
              onclick: 'artsList.hide(); return false;'
            }
      ));

    });

    function setArts(){

      var artsIsset = $([]);
      var artsAdded = $([]);

      arts = artsList.find('input:checked');

      arts.each(function(){
        var artid = $(this).val();

        var newWidget = artsForm.attr('data-prototype');
        newWidget = newWidget.replace(/__name__/g, artid);
        selectId = '#acme_findmartialbundle_mastertype_masterArts_' + artid + '_art';

        if(artsForm.find(selectId).length > 0){
          artwidget = artsForm.find(selectId).eq(0).parent();
          artsIsset = artsIsset.add(artwidget);
        } else {
          artwidget = $(newWidget);
          artselect = artwidget.find(selectId).eq(0);//.attr("disabled","disabled");
          artselect.val(artid);
          artsAdded = artsAdded.add(artwidget);
        }


      });
      
      artsForm.empty();

      artsIsset.each(function(){
        artsForm.append(this);
      });
      artsAdded.each(function(){
        artsForm.append(this);
      });
    }


</script>
