{% form_theme form _self %}

<form class="ajax-form_" action="{{ entity.id  ? path('master_update', { 'id': entity.id }) : path('master_create') }}" method="post" {{ form_enctype(form) }}>

  {% if entity.id %}
      <input type="hidden" name="_method" value="PUT" />
  {% endif %}
  
  {{ form_errors(form) }}

  {{ form_row (form.name) }}
  {{ form_row (form.family) }}
  {{ form_row (form.patronym) }}
  {{ form_row (form.hightlights) }}
  {{ form_row (form.description) }}
  {{ form_row (form.sex) }}

  {{ form_row (form.experience_full) }}
  {{ form_row (form.training_exp_full) }}
   



  <a href="#" id="add-another-art">Добавить БИ</a>

  {% macro artRow(masterart) %}
    <li>{{ form_widget(masterart.art, {'widget': 'integer_widget'}) }}{{ form_widget(masterart.expirience) }}{{ form_widget(masterart.training_exp) }}</li>
  {% endmacro %}

  <ul id="arts-fields-list" data-prototype="{{ _self.artRow(form.masterArts.vars.prototype) | e }}">
    {% for artField in form.masterArts %}
      {{ _self.artRow(artField) }}
    {% endfor %}
  </ul>

  {{ form_widget(form.arts) }}




  {% macro photoRow(masterphoto) %}
    <li>{{ form_row(masterphoto.title) }}{{ form_row(masterphoto.photo) }}</li>
  {% endmacro %}

  <ul id="photos-fields-list" class="photos" data-prototype="{{ _self.photoRow(form.masterPhotos.vars.prototype) | e }}">
    {% for photoField in form.masterPhotos %}
      {{ _self.photoRow(photoField) }}
    {% endfor %}
  </ul>

  {{ form_widget(form.masterPhotos) }}




  {{ form_rest(form) }}

  <div><button type="submit">Сохранить</button><div id="container"></div></div>

</form>

  
<script>
    var artsList = $('#acme_findmartialbundle_mastertype_arts');
    var artsForm = $('#arts-fields-list');

    //окно установки искусств
    function setArts(){

      var artsIsset = $([]);
      var artsAdded = $([]);

      arts = artsList.find('input:checked');

      arts.each(function(){
        var artid = $(this).val();

        var newWidget = artsForm.attr('data-prototype');
        newWidget = newWidget.replace(/__name__/g, artid);
        selectId = '#acme_findmartialbundle_mastertype_masterArts_' + artid + '_art';

        if(artsForm.find(selectId).length > 0){
          artwidget = artsForm.find(selectId).eq(0).parent();
          artsIsset = artsIsset.add(artwidget);
        } else {
          artwidget = $(newWidget);
          artselect = artwidget.find(selectId).eq(0);//.attr("disabled","disabled");
          artselect.val(artid);
          artsAdded = artsAdded.add(artwidget);
        }


      });
      
      artsForm.empty();

      artsIsset.each(function(){
        artsForm.append(this);
      });
      artsAdded.each(function(){
        artsForm.append(this);
      });
    }


    // Get the ul that holds the collection of photos
    var collectionHolder = $('ul.photos');

    // setup an "add a photos" link
    var $addPhotoLink = $('<a href="#" class="add_photo_link">Add a photo</a>');
    var $newLinkLi = $('<li></li>').append($addPhotoLink);

    //добавление новой формы фотографии
    function addPhotoForm(collectionHolder, $newLinkLi) {
      // Get the data-prototype explained earlier
      var prototype = collectionHolder.data('prototype');

      // get the new index
      var index = collectionHolder.data('index');

      // Replace '__name__' in the prototype's HTML to
      // instead be a number based on how many items we have
      var newForm = prototype.replace(/__name__/g, index);

      // increase the index with one for the next item
      collectionHolder.data('index', index + 1);

      // Display the form in the page in an li, before the "Add a photo" link li
      var $newFormLi = $('<li></li>').append(newForm);
      $newLinkLi.before($newFormLi);
    }


    $(document).ready(function() {

      workwin = $('<div />', {'class': 'workwin', id:'workwin'});
      blackLayer = $('<div />', {'class': 'blackLayer', id:'blackLayer', onclick: 'workwin.hide(); blackLayer.hide();'});

      artsList.wrap(workwin);
      //ссылка на элемент дум, а то после wrap он не указывает на элемент
      workwin = $('#workwin');

      $('body').append(blackLayer);

      $('form').on('click', '#add-another-art', function() {
            workwin.show();
            blackLayer.show();
            return false; 
      });
      workwin.append(
            $('<a>', {
              href:'#', 
              id:'save_arts_list', 
              text: "{{ 'field.save'|trans({}, 'FindMartialBundle') }}",
              onclick: 'setArts(); workwin.hide(); blackLayer.hide(); return false;'
            }
      ));
      workwin.append(
            $('<a>', {
              href:'#', 
              id:'close_arts_list', 
              text: "{{ 'field.close'|trans({}, 'FindMartialBundle') }}",
              onclick: 'workwin.hide(); blackLayer.hide(); return false;'
            }
      ));



      //photos
      // add the "add a photo" anchor and li to the photos ul
      collectionHolder.append($newLinkLi);

      // count the current form inputs we have (e.g. 2), use that as the new
      // index when inserting a new item (e.g. 2)
      collectionHolder.data('index', collectionHolder.find(':input').length);

      $addPhotoLink.on('click', function(e) {
          // prevent the link from creating a "#" on the URL
          e.preventDefault();

          // add a new photo form (see next code block)
          addPhotoForm(collectionHolder, $newLinkLi);
      });

    });

</script>
